@page "/counter"
@inject IStateManager state

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @(state.GetState<int>("count"))</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-danger" @onclick="DumpState">Dump state</button>
<pre style='display: @(stateContainerVisible ? "block" : "none");'>@stateContainerText</pre>
@code {
    private bool stateContainerVisible = false;
    private string stateContainerText = "";
    private void IncrementCount()
    {
        var oldState = state.GetState<int>("count");
        var newState = oldState + 1;
        state.SetState("count", newState);
    }

    private void DumpState() 
    {
        stateContainerText = state.DumpStateAsJson();
        stateContainerVisible = true;
    }
}
