@page "/counter"
@inject ILocalStorageService localStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-danger" @onclick="ResetCount">Reset count</button>
@code {
    private int count;
    protected override async Task OnInitializedAsync()
    {
        count = await localStorage.GetItemAsync<int>("counter");
    }

    
    
    private async Task IncrementCount()
    {
        int random = Random.Shared.Next(1000);
        count += random;
        await localStorage.SetItemAsync<int>("counter", count);
    }

    private async Task ResetCount() {
        count = 0;
        await localStorage.SetItemAsync<int>("counter", count);
    }

}


