@page "/"
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="d-block mx-auto mb-4" src="/img/bouvet_logo_off_white.png" style="width: 500px;">
            <h1 class="display-5 fw-bold text-body-emphasis">Smarte webkomponenter med lokal AI</h1>
        </div>
    </div>

</div>