@inherits LayoutComponentBase
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; background-color: #11133C;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img class="d-block mx-auto mb-4" src="/img/bouvet_logo_off_white.png" style="width: 100%;">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All">Forside</NavLink>
            </li>
            <li>
                <NavLink href="/adresse" class="nav-link text-white" Match="NavLinkMatch.All">Adressekomponent</NavLink>
            </li>
            <li>
                <NavLink href="/tabell" class="nav-link text-white" Match="NavLinkMatch.All">Tabellkomponent ⚠</NavLink>
            </li>
            <li>
                <NavLink href="/autocomplete" class="nav-link text-white" Match="NavLinkMatch.All">Semantisk autocomplete</NavLink>
            </li>
        </ul>
    </div>
    
    @Body

</main>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
